body {
    font-family: "Open Sans", sans-serif;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    text-align: center;
}

.conteiner2 {
    text-align: left;
    position: relative;
    margin-left: 300px;
}

input {
    border-radius: 8px;
    border-width: 1px;
    height: 25px;
    padding: 5px;
}

button {
    border-radius: 8px;
    height: 25px;
    border-width: 1px;
    padding: 9px 9px 27px 9px;
    background-color: rgb(227, 248, 255);
    border-color:  rgb(105, 197, 255);
    color:  rgb(105, 197, 255);
}

#checkbox {
    margin: 2px;
    height: 13px;
}